body {
  margin: 0;
  padding: 18px 10px 60px 10px;
  font-family:   
      "Apple SD Gothic Neo",
    -apple-system,
    BlinkMacSystemFont,
    "Pretendard",
    sans-serif;
    
  background-color: #F5F5F5;
  color: #121212;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
}

/* 사이트 이름 */
h1 {
  margin: 0 0 28px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1;
}

/* Works, About 같은 큰 구분 */
h2 {
  margin: 0px 0 12px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

/* 각 작품 제목 */
h3 {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
}

p {
  margin: 0 0 10px 0;
  font-size: 16px;
  line-height: 1.35;
}

/* 링크 */
a {
  color: #0000EE;
  text-decoration: underline;
}

a:visited {
  color: #551A8B;
}

a:hover {
  text-decoration: none;
}

/* 섹션 사이 간격 */
section {
  margin-bottom: 36px;
}

/* 이미지 */
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 12px 0 6px 0;
}

.work-page {
  max-width: 1000px;
}

.work-info {
  margin-bottom: 40px;
}

.work-info h1 {
  margin: 0 0 3px 0;
  font-size: 16px;
  font-weight: 400;
}

.work-title-en {
  margin: 0 0 10px 0;
}

.work-details {
  margin: 0;
}

.work-images {
  margin-top: 40px;
}

.work-images img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.work-description {
  max-width: 650px;
  margin-top: 50px;
}

.work-description p {
  margin: 0 0 18px 0;
}

.back-link {
  margin-top: 70px;
  margin-bottom: 40px;
}
